<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Striped Progress bar {{ progreso1 }}</h4>

        <div class="progress m-t-20">
          <div
            class="progress-bar bg-info progress-bar-striped active"
            style="height: 20px"
            role="progressbar"
            [style.width]="getProgreso1"
          >

          </div>
        </div>
        <div class="progress m-t-20">
          <div
            class="progress-bar bg-danger progress-bar-striped active"
            style="height: 20px"
            role="progressbar"
            [style.width]="getProgreso2"
          >

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <!-- <app-incrementador (valorSalida)="cambioValorHijo( $event )" [progreso]="15"></app-incrementador> -->
        <app-incrementador (valorSalida)="progreso1 = $event" [progreso]="progreso1"></app-incrementador>

      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador
                      (valorSalida)="progreso2 = $event"
                      [progreso]="progreso2"
                      [bntClass]="'btn-info'"
                      >
        </app-incrementador>
      </div>
    </div>
  </div>
</div>
