<div class="row">
  <div class="col-6">
    <app-dona
        title="Ventas"
        [labels]=labels1
        [data]=data1


    ></app-dona>
  </div>
  <div class="col-6">
    <app-dona
        title="Florencia"
        [data]=data1
    ></app-dona>
  </div>
  <div class="col-6">
    <app-dona
        title="Litzi"
        [labels]=labels1
        [data]=data1
    ></app-dona>
  </div>
  <div class="col-6">
    <app-dona
        [labels]=labels1
        [data]=data1
    ></app-dona>
  </div>
</div>
