<div class="input-group">
  <span class="input-group-btn">
    <button
            type="button"
            [ngClass]="bntClass"
            (click)="cambiarValor(-5)">
      <i class="fa fa-minus"></i>
    </button>
  </span>


  <input
    type="number"
    class="form-control"
    placeholder="Progreso"
    min="0"
    max="100"
    (ngModelChange)="onChange($event)"
    [(ngModel)]="progreso"
    [ngClass]="{'is-invalid': progreso > 100 || progreso < 0}"
  />

  <span class="input-group-btn">
    <button
            [ngClass]="bntClass"
            type="button"
            (click)="cambiarValor(10)">
      <i class="fa fa-plus"></i>
    </button>
  </span>
</div>
